* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* Variables */
  /* Colores */
  --jet: #353535ff;
  --ming: #3c6e71ff;
  --white: #ffffffff;
  /* Tamaños de fuentes */
  --normal: 1.6rem;
  --secon-title: 2rem;
  /* ////////////////////// */

  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--jet);
  font-family: 'Roboto', sans-serif;
}

.main-login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 30px;
  min-height: calc(100vh - 200px);
  background: linear-gradient(var(--jet), var(--ming));
}
.main-login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
  width: 385px;
  min-height: 700px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid var(--ming);
  border-radius: 40px;
  box-shadow: 0px 1px 4px 1px #484343;
  color: var(--white);
}
.main-login__container h2 {
  font-size: var(--secon-title);
}
.main-login__container--form {
  display: flex;
  flex-direction: column;
}
.login__container--remember-me {
  color: var(--white);
  margin-top: 10px;
  font-size: 1.4rem;
}
.checkbox {
  margin-right: 40px;
}
.login__container--remember-me a {
  color: var(--white);
  font-size: 1.4rem;
  text-decoration: none;
}
.login__container--remember-me a:hover {
  text-decoration: underline;
}
.login__container--social-media > div {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.login__container--social-media > div > img {
  width: 30px;
  margin-right: 10px;
}
.login__container--register {
  color: var(--white);
  font-size: 1.4rem;
  font-weight: bold;
}
.login__container--register a {
  font-size: var(--normal);
  color: var(--jet);
  font-weight: bold;
  text-decoration: none;
}
.login__container--register a:hover {
  text-decoration: underline;
}
.input {
  margin-bottom: 67px;
  padding: 20px 20px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid var(--jet);;
  background-color: transparent;
  font-family: "Muli", sans-serif;
  outline: none;
}
::placeholder {
  color: white;
}
.button {
  border-radius: 25px;
  box-shadow: -31px 38px 78px #325c5f, 24px -12px 54px #468083;
  border: none;
  color: white;
  cursor: pointer;
  font-size: var(--normal);
  font-weight: bold;
  font-family: "Muli", sans-serif;
  background-color: rgba(255, 255, 255, 0.1);
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0;
}
.button:hover {
  border: 2px solid var(--ming);
  box-shadow: 0.3px 1px 2px #484343;
}
.button:active {
  border: 2px solid var(--ming);
  box-shadow: 0.3px 1px 2px #484343;
}

@media only screen and (max-width: 600px) {
  .main-login__container {
    background-color: transparent;
    border: ransparent;
    border: 1px solid var(--ming);
    padding: 0;
    width: 100%;
    box-shadow: none;
  }
}

@media only screen and (max-width: 370px) {
  .main-login__container {
    background-color: transparent;
    border: ransparent;
    border: none;
    padding: 0;
    width: 100%;
    box-shadow: none;
  }

  .input {
    width: 209px;
    border: 1px solid var(--ming);
  }
}
